<% @users = User.all %>

<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-heading">
    <div class="panel-title">User List
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover" id="basicTable">
        <thead>
        <tr>
          <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
        Comman Practice Followed
        -->
          <th style="width:20%">ID</th>
          <th style="width:20%">Email</th>
          <th style="width:29%">Last Sign In</th>
          <th style="width:15%">Created At</th>
          <th style="width:15%">Updated At</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
        <tr>
          <td class="v-align-middle ">
            <p><%= user.id %></p>
          </td>
          <td class="v-align-middle">
            <p><%= user.email %></p>
          </td>
          <td class="v-align-middle">
            <p><%= user.last_sign_in_at %></p>
          </td>
          <td class="v-align-middle">
            <p><%= user.created_at %></p>
          </td>
          <td class="v-align-middle">
            <p><%= user.updated_at %></p>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- END PANEL -->