 <% if @instruments && @instruments.size > 0 %>
     <!-- START CONTAINER FLUID -->
     <!-- bg-white -->
     <div class="container-fluid container-fixed-lg ">
       <!-- START PANEL -->
       <div class="panel panel-transparent">
         <div class="panel-heading">
           <div class="panel-title">Open Projects (<%= @instruments_count[0] %>)
           </div>
           <div class="clearfix"></div>
         </div>





         <% for @instrument in @instruments %>
          <a href="/instruments/show?id=<%= @instrument.id %>" >

          <div class="col-md-4">
           <div class="card">
               <div class="card-header separator">
                   <div class="card-title" style="margin:10px"><b><%= @instrument.name rescue nil %></b> by <%= @instrument.symbol rescue nil %> (<%= number_to_percentage(@instrument.open_price, :precision => 0) %>)
                     <br>
                     <div style="width:90%;margin:10px">
                        <% if @instrument.status == 'Released' %>
                          <div class="progress">
                              <div class="progress-bar progress-bar-complete" style="background-color: #10CFBD;width:<%=@instrument.open_price %>%;"></div>
                          </div>
                        <%elsif @instrument.status == 'Mastering' or @instrument.status == 'Recording'  %>
                        <div class="progress">
                            <div class="progress-bar progress-bar-complete" style="background-color: #6D5CAE;width:<%=@instrument.open_price %>%;"></div>
                        </div>
                        <%else%>
                        <div class="progress">
                            <div class="progress-bar progress-bar-complete" style="width:<%=@instrument.open_price %>%;"></div>
                        </div>
                        <% end %>
                    </div>

                   <!-- <hr> -->
                   </div>
               </div>
               <% if @instrument.status == 'Released' %>
               <div style="position: absolute;top: 63px;background-color: #10CFBD;width:100%;text-align:center;">
                 <font style="text-align:center;margin:3px;"color="white"><i>R E L E A S E D</i></font>
               </div>
               <%elsif @instrument.status == 'Mastering' or @instrument.status == 'Recording'%>
               <div style="position: absolute;top: 63px;background-color: #6D5CAE;clear:both;width:100%;text-align:center;">

                 <font style="text-align:center;margin:3px"color="white"><i>F U N D E D</i></font>
               </div>
               <% end %>
               <div class="card-block" style="margin:0px">
                  <%=image_tag(@instrument.fundamentals_url)%>
               </div>

           </div>
         </div>
        </a>

         <% end %>


         </div>
       </div>
       <!-- END PANEL -->
     </div>

 <% end %>
