 <% if @instruments && @instruments.size > 0 %>
     <!-- START CONTAINER FLUID -->
     <div class="container-fluid container-fixed-lg bg-white">
       <!-- START PANEL -->
       <div class="panel panel-transparent">
         <div class="panel-heading">
           <div class="panel-title">Instruments (<%= @instruments_count[0] %>)
           </div>
           <div class="clearfix"></div>
         </div>
         <div class="panel-body">
           <div class="table-responsive">
             <table class="table table-hover table-condensed" id="condensedTable">
                  <thead>
					  <tr>
						 <div style="text-align:center;"> 
							 <%= will_paginate @instruments %>
						 </div>
					  </tr>
                    <tr>
                      <th>Name</th>
                      <th>Symbol</th>
                      <th>State</th>
                      <th>Tradeable</th>
                      <th>List Date</th>
                    </tr>
                  </thead>
               <tbody>
               <% for @instrument in @instruments %>
                   <tr>
                     <td class="v-align-middle"><%= @instrument.name rescue nil %></td>
                     <td class="v-align-middle"><%= @instrument.symbol rescue nil %></td>
                     <td class="v-align-middle"><%= @instrument.state rescue nil %></td>
                     <td class="v-align-middle"><%= (@instrument.tradeable) ? ('Yes') : ('No')%></td>
                     <td class="v-align-middle"><%= @instrument.list_date.strftime("%b %d, %Y") rescue nil %></td>
                   </tr>
               <% end %>
               </tbody>
             </table>
           </div>
         </div>
       </div>
       <!-- END PANEL -->
     </div>

 <% end %>

         