 <% if @instruments && @instruments.size > 0 %>
     <!-- START CONTAINER FLUID -->
     <!-- bg-white -->
     <div class="container-fluid container-fixed-lg ">
       <!-- START PANEL -->
       <div class="panel panel-transparent">
         <div class="panel-heading">
           <div class="panel-title">Open Projects (<%= @instruments_count[0] %>)
           </div>
           <div class="clearfix"></div>
         </div>





         <% for @instrument in @instruments %>
          <a href="/instruments/show?id=<%= @instrument.id %>" >

          <div class="col-md-4">
           <div class="card no-border card-transparent">
               <div class="card-header separator">
                   <div class="card-title" style="margin:10px"><b><%= @instrument.name rescue nil %></b> by <%= @instrument.symbol rescue nil %> (<%= number_to_percentage(@instrument.open_price, :precision => 0) %>)
                     <br>
                     <div style="width:90%;margin:10px">
                        <div class="progress">
                            <div class="progress-bar progress-bar-complete" style="width:<%=@instrument.open_price %>%;"></div>
                        </div>
                    </div>
                  <br>
                   <!-- <hr> -->
                   </div>
               </div>
               <div class="card-block" style="margin:10px">
                  <%=image_tag(@instrument.fundamentals_url)%>
               </div>
           </div>
         </div>
        </a>

         <% end %>


         </div>
       </div>
       <!-- END PANEL -->
     </div>

 <% end %>
