
<% if @instrument %>
    <div class="widget-12 panel no-border widget-loader-circle no-margin">

      <div class="panel-body" >
        <div class="row">
          <div class="col-xlg-8 ">
            <div class="p-l-10">
              <h2 class="pull-left"><%= @instrument.name %> by <%= @instrument.symbol%> (<%= number_to_percentage(@instrument.open_price, :precision => 0) %>)</h2>
              <br>
              <div style="width:98%">
                <div class="progress">
                    <div class="progress-bar progress-bar-complete" style="width:<%= @instrument.open_price%>%"></div>
                </div>
              </div>
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-6 ">
                <%=image_tag(@instrument.fundamentals_url)%>
            </div>
            <div class="col-md-6">
              <div style="color:green"><h2><%= number_to_currency(@instrument.fundraising_amount * (@instrument.open_price / 100)) %> of <%= number_to_currency(@instrument.fundraising_amount)%></h2></div>
              <%= distance_of_time_in_words @instrument.closing_date, DateTime.now.in_time_zone rescue nil %> Remaining <br><br>
              <b>Description</b><br>
              <%= @instrument.description %>
              <div  style='text-align:center' width=100%>
                <br>
                <br>
                <button class="btn btn-success btn-cons">Contribute</button>
              </div>
            </div>
          </div>
        </div>
      </div>


<script>

  // setInterval(updatePrice, 60000)
  //
  // function updatePrice() {
  //   $.ajax({url: "/instruments/update_current_price?id=" + <%= @instrument.id %> ,
  //           success:function(data) {
  //             $('#current_price').html(data)
  //           }, type: "POST"});
  // }
</script>

<% end %>
