<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Home</title>
  <meta name="description" content="Startups template">
  <meta name="keywords" content="Startups template">
  <link rel="shortcut icon" href="<%= image_path('landing-img/favicon.ico') %>">
  <link rel="apple-touch-icon" href="<%= image_path('landing-img/apple-touch-icon.jpg') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('images/landing-img/apple-touch-icon-72x72.jpg') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('images/landing-img/apple-touch-icon-114x114.jpg') %>">

  <%= stylesheet_link_tag "landing_page", params[:controller], media: 'all', 'data-turbolinks-track' => true %>
</head>

<body id="landing-page" class="landing-page">
<!-- Preloader -->
<div class="preloader-mask">
  <div class="preloader"><div class="spin base_clr_brd"><div class="clip left"><div class="circle"></div></div><div class="gap"><div class="circle"></div></div><div class="clip right"><div class="circle"></div></div></div></div>
</div>

<!-- Header -->
<header>
  <nav class="navigation navigation-header">
    <div class="container">
      <div class="navigation-brand">
        <div class="brand-logo">
          <a href="index.html" class="logo"></a><a href="index.html" class="logo logo-alt"></a>
        </div>
      </div>
      <button class="navigation-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navigation-navbar collapsed">
        <ul class="navigation-bar navigation-bar-left">
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="navigation-bar navigation-bar-right">
          <% if user_signed_in? %>
              <li><%= current_user.email %><li>
          <% else %>
              <li class="featured"><%= link_to "Login", new_user_session_path, :class => 'btn btn-sm btn-outline-color' %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="hero" class="static-header window-height light-text hero-section clickthrough-version clearfix">
  <div class="overlay"></div>
  <div class="heading-block align-center centered-block">
    <div class="container">
      <div class="animated" data-animation="fadeIn" data-duartion="500">
        <h2>The <span class="highlight">public</span> record label, <br> where artists and fans start journeys together.</h2>
        <p class="sub-title">Share in the success, get started below.</p>
      </div>
      <div class="animated" data-animation="fadeInUp" data-duartion="500" data-delay="200">
        <%= link_to "Get started", new_user_session_path, :class => 'btn btn-outline' %>
        <%= link_to "Take tour", new_user_session_path, :class => 'btn btn-no-border' %>
      </div>
    </div>
  </div>
</div>

<div id="clients" class="clients-section align-center">
  <div class="container">
    <ul class="list-inline logos">
      <li><img class="animated" data-animation="fadeInDown" height="50px" data-duration="500" src="<%= image_path('landing-img/logos/logo-1.png') %>" alt="mashable" /></li>
      <li><img class="animated" data-animation="fadeInDown" height="50px" data-duration="500" data-delay="400" src="<%= image_path('landing-img/logos/logo-3.png') %>" alt="virgin" /></li>
      <li><img class="animated" data-animation="fadeInUp" height="50px" data-duration="500" data-delay="600" src="<%= image_path('landing-img/logos/logo-4.png') %>" alt="microsoft" /></li>
      <li><img class="animated" data-animation="fadeInDown" height="50px" data-duration="500" data-delay="800" src="<%= image_path('landing-img/logos/logo-5.png') %>" alt="forbes" /></li>
      <li><img class="animated" data-animation="fadeInUp" height="50px" data-duration="500" data-delay="200" src="<%= image_path('landing-img/logos/logo-2.png') %>" alt="tnw" /></li>
    </ul>
  </div>
</div>

<section id="about" class="section about-section align-center dark-text">
  <div class="container">

    <ul class="nav nav-tabs alt">
      <li class="active"><a href="#first-tab-alt" data-toggle="tab">ARTISTS</a></li>
      <li><a href="#second-tab-alt" data-toggle="tab">FANS</a></li>
      <!-- <li><a href="#third-tab-alt" data-toggle="tab">PRODUCERS</a></li> -->
    </ul>

    <div class="tab-content alt">
      <div class="tab-pane active" id="first-tab-alt">
        <div class="section-content row">
          <div class="col-sm-6 animated" data-delay="200" data-duration="700" data-animation="fadeInLeft">
            <img src="<%= image_path('landing-img/features/artist-cool.png') %>" class="img-responsive" alt="process 3" />
          </div>
          <div class="col-sm-6 animated" data-delay="200" data-duration="700" data-animation="fadeInRight">
            <br/>
            <article class="align-right">
              <div style="margin-bottom: 20px;">
                <article class="align-left icon-text icon-block-left">
                  <div class="icon-block-icon">
                    <i class="fa fa-rocket highlight"></i>
                  </div>
                  <div class="icon-block-text">
                    <span class="heading">NEW OPTIONS</span>
                    <p class="thin">We are providing a <span class="highlight">new option</span> for raising capital for content creation.
                      Pairing Fans and Artists, together we can make a make a new kind of record label. A public record label.
                    </p>
                  </div>
                </article>
              </div>

              <div style="margin-bottom: 20px;">
                <article class="align-left icon-text icon-block-left">
                  <div class="icon-block-icon">
                    <i class="fa fa-users highlight"></i>
                  </div>
                  <div class="icon-block-text">
                    <span class="heading">BETTER TOGETHER</span>
                    <p class="thin">
                      Starting a new project will now have an easy path to pay for all the related expenses like recording studio time, sound engineer time, and producing the tracks.
                      In exchange for a portion of the royalties, artists now have the options to share the success of their works with their fans.
                    </p>
                  </div>
                </article>
              </div>

              <div style="margin-bottom: 20px;">
                <article class="align-left icon-text icon-block-left">
                  <div class="icon-block-icon">
                    <i class="fa fa-money highlight"></i>
                  </div>
                  <div class="icon-block-text">
                    <span class="heading">MUTUAL SUCCESS</span>
                    <p class="thin">
                      Artists will be in control of how much they give up, and how much they raise. They will remain majority holders of their works.
                      Share the success, reward your early fans instead of a record label.
                    </p>
                  </div>
                </article>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="second-tab-alt">
        <div class="section-content row">
          <div class="col-sm-6 pull-right animated" data-delay="200" data-duration="700" data-animation="fadeInRight">
            <img src="<%= image_path('landing-img/features/people.png') %>" class="img-responsive pull-right" alt="process 2" />
          </div>
          <div class="col-sm-6 animated" data-delay="200" data-duration="700" data-animation="fadeInLeft">
            <article class="align-right">
              <div style="margin-bottom: 20px;">
                <article class="align-left icon-text icon-block-left">
                  <div class="icon-block-icon">
                    <i class="fa fa-rocket highlight"></i>
                  </div>
                  <div class="icon-block-text">
                    <span class="heading">FUND NEW MUSIC</span>
                    <p class="thin">Help transform the music industry by contributing directly to your favorite artist's next big album. This helps the artist retain more of the rights for their hard work.
                    </p>
                  </div>
                </article>
              </div>

              <div style="margin-bottom: 20px;">
                <article class="align-left icon-text icon-block-left">
                  <div class="icon-block-icon">
                    <i class="fa fa-users highlight"></i>
                  </div>
                  <div class="icon-block-text">
                    <span class="heading">SPREAD THE WORD</span>
                    <p class="thin">
                      Once you contribute, spread the word to anyone and everyone about this exciting new project your favorite artist is working on. The more people know about it, the faster the project will get funded. The artist will post updates on how the work is progresing to keep fans engaged.
                    </p>

                  </div>
                </article>
              </div>

              <div style="margin-bottom: 20px;">
                <article class="align-left icon-text icon-block-left">
                  <div class="icon-block-icon">
                    <i class="fa fa-music highlight"></i>
                  </div>
                  <div class="icon-block-text">
                    <span class="heading">ENJOY</span>
                    <p class="thin">
                      Enjoy that new music that you helped get off the ground! Thanks to you an artist was able to cover the costs of making new music, time to sit back relax and hit play. 
                    </p>
                  </div>
                </article>
              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- <div class="tab-pane" id="third-tab-alt">
        <div class="section-header align-center">
          <h2>Be part of the movement</h2>
          <p class="sub-header animated" data-duration="700" data-animation="zoomIn">
            Get hired by artists with capital to spare. These artists are looking to find the best producing talent.
            <br><br>
            They want quality producing to get the highest quality tracks to top the charts
          </p>
        </div>
        <div class="section-content row animated" data-duration="700" data-delay="200" data-animation="fadeInDown">
          <div class="col-sm-4">
            <article class="align-center">
              <i class="howitworks fa fa-microphone highlight"></i>
              <span class="heading">ARTIST POSTS PROJECTS</span>
            </article>
          </div>
          <div class="col-sm-4">
            <article class="align-center">
              <i class="howitworks fa fa-money highlight"></i>
              <span class="heading">FANS INVEST</span>
            </article>
          </div>
          <div class="col-sm-4">
            <article class="align-center">
              <i class="howitworks fa fa-music highlight"></i>
              <span class="heading">PRODUCERS CONNECT</span>
            </article>
          </div>
        </div>
        <br/>
        <br/>
      </div> -->
    </div>
  </div>
</section>
<br><br>
<footer id="footer" class="footer light-text">
  <div class="container">
    <div class="footer-content row">
      <div class="col-sm-4 col-xs-12">
        <strong class="heading">Our Team</strong>
        <p><strong>Hector Zarate</strong></p>
        <p><strong>Richard Garcia</strong></p>
        <p><strong>Omar Castro</strong></p>
        <p><strong>David Lindsay</strong></p>
        <p><strong>Samantha Campos</strong></p>
        <p><strong>Zachary Rodriguez</strong></p>
      </div>
      <div class="col-sm-5 social-wrap col-xs-12">
        <strong class="heading">Social Networks</strong>
        <ul class="list-inline socials">
          <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-04"></span></a></li>
        </ul>
        <ul class="list-inline socials">
          <li><a href="#"><span class="icon icon-socialmedia-07"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <strong class="heading">Our Contacts</strong>
        <ul class="list-unstyled">
          <li><span class="icon icon-chat-messages-14"></span><a href="mailto:info@startup.ly">info@8trac.com</a></li>
          <li><span class="icon icon-seo-icons-34"></span>San Antonio & Houston, TX</li>
          <li><span class="icon icon-seo-icons-17"></span>1-210-222-2222</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">8trac 2018. All rights reserved.</div>
</footer>

<div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

<!-- JS at bottom of page to improve load time, and only loaded once with 'data-turbolinks-eval' == false  -->
<%= javascript_include_tag "landing_page", params[:controller], 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
</body>
</html>
